annotated-types==0.7.0
asgiref==3.11.1
blinker==1.9.0
click==8.2.1
Django==6.0.6
django-ninja==1.6.2
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pydantic==2.13.4
pydantic_core==2.46.4
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
Werkzeug==3.1.3
